<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The guns of Tarkov</title>
  </head>
  <body>
    <h1>Weaponry (WAY TO MANY CHOICES)</h1>
    <h2>
      <p>
        The land of tarkov has hundreds of guns to choice from, you want old
        style like being back in WW2 taking out your foes! Tarkov has that from
        the PPSH to the Kar98k and plenty more older style weapons.
      </p>
    </h2>
    <h2>
      <p2>
        Where you thinking something new like what the modern military uses?
        Well trust me tarkov has you covered from 5.56x45mm Colt M4A1 to even a
        heavy scar that shoots 7.62x51mm rounds. You will never run out of
        options for weapons in this game!
      </p2>
    </h2>
    <h2>
      <p3
        >All guns are full customiazble with thousands of attachments to fit
        your style of gameplay</p3
      >
    </h2>
    <a href="/">[ home ]</a>
  </body>
</html>
