<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarkov</title>
  </head>
  <body>
    <h1>All about the beautiful game of tarkov</h1>
    <h2>
      <p>
        Escape from Tarkov is a hardcore and realistic online first-person
        action RPG/Simulator with MMO features and a story-driven walkthrough.
      </p>
      <p2>
        With each passing day the situation in the Norvinsk region grows more
        and more complicated. Incessant warfare in Tarkov has sparked massive
        panic; the local population has fled the city, but those who stayed are
        looking to improve their fortunes at the expense of others. Having
        accepted the new reality, savage Tarkov locals - "Scavs" flocked into
        well-armed gangs and started the redivision of the city. Nowadays,
        Tarkov is separated by unseen borders, controlled by different groups.
        Gain-greedy gunmen would go to any length to have their way, including
        the murder of civilians and direct confrontation with the two private
        military companies.
      </p2>
      <p3
        >The players will have to experience living in the skin of one of the
        mercenaries who survived the initial stage of the Tarkov conflict. After
        choosing one of the sides – USEC or BEAR – the player’s character starts
        to make his way out of the city. Tarkov is sealed off by UN and Russian
        military, supply chains are cut, communication with operational command
        is lost, and in these conditions everyone has to make his own choices of
        what to do and how to get out of the chaos-ridden metropolis.</p3
      >
    </h2>
    <a href="/">[ home ]</a>
  </body>
</html>
