<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The big question (WIPE)</title>
  </head>
  <body>
    <h1>Tarkov's wipe</h1>
    <h2>
      <p>
        There is a lot of speculation on when this wipe will come, base on the
        infomation we have we can be expecting a wipe mid to late july. Along
        with this wipe we will see the streets expansion and Arena gamemode!.
      </p>
    </h2>
    <a href="/">[ home ]</a>
  </body>
</html>
